{:db {:dbname "planner-live"
      :host "planner-prod.ctfoick17cjf.eu-west-2.rds.amazonaws.com"
      :user "postgres"
      :password #env "POSTGRES_PASSWORD"}
 :stripe {:product-id #env "STRIPE_PRODUCT_ID"
          :publishable-api-key #env "STRIPE_PUB_API_KEY"
          :api-key #env "STRIPE_PRIV_API_KEY"}
 :hostname "https://yipgo.com"
 :email {:enabled? true
         :host "email-smtp.eu-west-1.amazonaws.com"
         :port 587
         :user #env "SES_USER"
         :pass #env "SES_PASS"}}
