;; shadow-cljs configuration
{:source-paths ["src/dev" "src/main" "src/test"]
 :dev-http {8080 {:roots ["public" "resources/public"]
                  :proxy-url "http://localhost:3000"}}
 :dependencies [[metosin/reitit "0.3.9"]
                [cljs-ajax "0.8.0"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [reagent "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom]]]
 :builds {:frontend {:target :browser
                     :devtools {:before-load tw2.f.app/stop
                                :after-load tw2.f.app/start}
                     :modules {:main {:init-fn tw2.f.app/init}}}}}
