@mobile:  ~"only screen and (min-width: 320px) and (max-width: 767px)";
@tablet:  ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 960px)";

body {
}

#app {
}

.ui.search .prompt {
    border-radius: 3px !important;
}

#time-grid {
    display: grid;
    grid-template-rows: auto auto repeat(24, 4em);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: column;
    text-align: center;
    justify-content: center;	

    @base: #D1DCEA;

    .cell {
        margin-left: 1px;
        margin-right: 1px;
        border-right: 1px solid darken(@base, 60%);
        border-left: 1px solid darken(@base, 60%);

        &.terrible-time {
            background: darken(@base, 10%);
            
            &.start-of-day {
                margin-top: 1px;
                border-radius: 6px 6px 0 0;
                border-top: 1px solid darken(@base, 40%);

            }

            &.end-of-day {
                border-radius: 0 0 6px 6px;
                margin-bottom: 1px;
                border-bottom: 1px solid darken(@base, 40%);
            }

        }

        &.bad-time {
            background: darken(@base, 5%);
        }

        &.good-time {
            background: #eee;;
        }
    }

    .drag-bar {
        font-size: large;
        color: #aaa;
        padding: 10px;
    }

    .cell-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        position: sticky;
        top: 0;
        height: 100%;
        width: 100%;
        background: white;
        padding-bottom: 5px;
    }
}

#main {
    padding: 10px;

    @media @desktop {
        max-width: 1024px;
        margin: 0 auto;
    }
}

#desktop-menu {
    border: 0;
    border-radius: 0px;
}
