@mobile:  ~"only screen and (min-width: 320px) and (max-width: 767px)";
@tablet:  ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 960px)";

body {
    background: #fff;
}

#app {
}

#time-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    .column {
        flex-grow: 1;
        text-align: center;
        margin: 5px;

        .cell-header {
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            height: 50px;
        }

        .cell {
            margin: 1px;
            padding: 2px;
        }
    }
}

#main {
    padding: 10px;

    @media @desktop {
        max-width: 1024px;
        margin: 0 auto;
    }
}

#desktop-menu {
    border: 0;
    border-radius: 0px;
}
