body {
  background: #fff;
}
#time-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#time-grid .column {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}
#time-grid .column .cell-header {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  height: 50px;
}
#time-grid .column .cell {
  margin: 1px;
  padding: 2px;
}
#main {
  padding: 10px;
}
@media only screen and (min-width: 960px) {
  #main {
    max-width: 1024px;
    margin: 0 auto;
  }
}
#desktop-menu {
  border: 0;
  border-radius: 0px;
}
